.MenuItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;

    a {
        color: white;
        text-decoration: none;
        box-sizing: border-box;
        display: block;
    }

    a:hover, a:active {
        color: orange;
    }

}
