.ArrowContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Arrow {
    border: solid grey;
    border-width: 0 1px 1px 0;
    padding: 8px;
}

.Right {
    //transform-origin: center center;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.Left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.Up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.Down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}