.BrowserMenu {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(9, 28, 112);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;

    .MenuItems {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        height: 100%;
    }

    nav {
        height: 100%;
    }
}
