.InnerBrowser {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    //grid-template-rows: 68px auto ;

    .InnerBrowserBody {
        grid-column: span 11;
    }
}