.InnerBrowser {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60px auto ;

    /*object {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }*/

    .webBrowser {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .innerBrowserHeader {
        grid-column: span 12;
    }
}