.ArticleTile {
    display: grid;
    width: 350px;

    img {
        width: 350px;
    }

    .articleTitle {
        display:inline-table;
        white-space: pre-line;
        word-break: keep-all;
    }

    .articleDate {
        font-size: 12px;
    }
}